# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
venv/

# Frontend
frontend/node_modules/
frontend/dist/
# (dist is built inside Docker, no need to commit it)

# Docker
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
